body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url("../Slike/index_fluid.jpg");
}

#columnchart_material {
    width: 800px;
    height: 500px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    border-radius: 15px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
