body {
    background-image: url("../Slike/index_fluid.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    border-radius: 15px;
}

@media only screen and (max-width: 500px) {
    .card {
        margin-top: 5vh;
    }
}